*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Titillium Web', sans-serif;
    line-height: 1.6;
  }
  
  header{
    background: url('../assets/1.jpg') no-repeat center center/cover;
    position: relative;
    color: #fff;
    height: 70vh;
  }
  
  .overlay {
    background: rgba(0, 0, 0, 0.5);
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .container {
    width: 90%;
    margin: 0 auto;
    max-width: 1200px;
    
  }
  
  .servies {
    text-align: center;
    padding: 10rem 0;
    color: #fff;
  }
  
  .servies h1 {
    font-size: 2.5rem;
    margin-bottom: 0.5rem;
  }
  
  .servies p {
    font-size: 1.2rem;
  }
  
  .content {
    padding: 2rem 0;
  }
  
  .content-layout {
    display: flex;
    align-items: center;
  }
  
  .content-layout img {
    max-width: 50%;
    height: auto;
    margin-right: 2rem;
  }
  
  .content-layout div {
    max-width: 50%;
  }
  
  .types {
    background: #b8a9a9;
    padding: 5rem 0;
  }
  
  .types h2 {
    margin-bottom: 1rem;
    text-align: center;
  }
  
  .annotation-types {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
    padding: 4%;
  }
  
  .btn {
    background: #ddd;
    color: #fff;
    padding: 0.5rem 1rem;
    text-decoration: none;
    border-radius: 5px;
    transition: background 0.3s;
  }
  
  .btn:not(.active) {
    background: #ddd; 
    color: #333;
  }
  
  .description {
    padding: 20px 0;
    text-align: center;
  }
  
  @media (max-width: 768px) {
    .content-layout img {
      margin: 0 auto 1rem;
    }
    .content-layout {
      flex-direction: column;
    }
    .content-layout div {
      text-align: center;
    }
  }
  